@font-face {
  font-family: 'PokemonHollow';
  src: url('./fonts/PokemonHollow.ttf') format('truetype');
}

@font-face {
  font-family: 'PokemonSolid';
  src: url('./fonts/PokemonSolid.ttf') format('truetype');
}

body {
  background-color: #282c34;
  color: white;

  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

span {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-title {
  font-family: 'PokemonSolid';
  color: #FFCB05;
  text-shadow: -1px 0 #3D7DCA, 0 1px #3D7DCA, 1px 0 #003A70, 0 -1px #003A70;
  letter-spacing: 0.2rem;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.default-input-height {
  height: 56px;
}

.canvas-wrapper {
  /* overflow: scroll;
  max-width: 100vw;
  max-height: 100vh; */
  padding: 4px;
}

.canvas-toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 125px; /* Grow, shrink, with minimum size */
  min-width: 0; /* Important for flex item shrinking */
}

.toolbar-icon {
  max-width: 32px;
  max-height: 32px;
}

.toolbar-button {
  flex: 1; /* Buttons grow to fill available space */
  min-height: 44px;
  padding: 8px 16px;
  
}

/* Keep aspect ratio */
.result-image {
  height: 100%;
  width: auto;
}

.flexbox {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.vbox {
  flex-direction: column;
}

.hbox {
  flex-direction: row;
}

.gapped {
  gap: 1rem;
}

.slightly-gapped {
  gap: 0.5rem;
}

.micro-gapped {
  gap: 0.1rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.fill-x {
  width: 100%;
}
